.loginButton{
    border-radius:20px; 
    padding: 10px 10px;
    min-height:30px; 
    max-width: 140px;
    outline: none;
    border: none;
    min-width: 120px;
    cursor: pointer;
    color: white;
    font-family: "Oswald", sans-serif; 
    font-size: 0.9rem;
}

