header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  
  .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem 8rem 0 0;
  }
  button.hamburger{
    z-index: 100;
    border:none;
    background: transparent;
    position: fixed;
    right: 0;
    padding: 5% 5% 0 0;
  }

  

 /*RESPONZIVITA */

 /*Mensi nez 1024 (tablety, male ntb)*/
 @media screen and (max-width: 1024px) {
nav{
    flex-direction: column;
}
}

 /*Mensi nez 1024 (telefony)*/
 @media (max-width: 768px) {
 
    .navbar {
      position: absolute;
      right: 0;
      background-color: rgba(246, 246, 246, 0.95);
      width: 0px;
      transition: all 0.3s ease-in;
      display: none;
    }
  
    .navbar.active {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    min-height: 100vh;
    position: fixed;
    justify-content: center;
    padding: 0;

    }
  
    .navbar ul {
      display: flex;
      flex-direction: column;
      padding: 0;
      text-align: center;
    }
  
    .navbar ul li {
      margin-top: 22px;
    padding: 0;

    }
  
  
  
  
  
  }