
main{
    width: 100%;
    display: flex;
    flex-direction: row;
    min-height: 80vh;
    justify-content: center;
}

.main-container{
    width: 40%;
}

.main-container.left{
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.main-container.right{

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inner-container{
    display: flex;
}

.right .top  {
   font-size: 5.5rem;
   padding-bottom: 5%;

}
.bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}