section.dashboard-section{
    width: 100%;
    display: flex;
    justify-content: center;
    min-height: 86.5vh;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 3rem;

}

.member-deshboard-container{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-top: 2rem;
    margin: auto;

}

.container-action{
    width: 90%;
}
.container-action-header{
    display: flex;
    flex-direction: column;
  
    gap: 5px;
}