nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .navbar-middle-section {

  }
  
  .navbar-right-section {
  }
  

 /*RESPONZIVITA */

 /*Mensi nez 1024 (tablety, male ntb)*/
 @media screen and (max-width: 1024px) {
nav{
    flex-direction: column;
}
}

 /*Mensi nez 1024 (telefony)*/
 @media (max-width: 768px) {
 
    .nav-elements {
      position: absolute;
      right: 0;
      background-color: #251e0db4;
      width: 0px;
      transition: all 0.3s ease-in;
      display: none;
    }
  
    .nav-elements.active {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    min-height: 100vh;
    position: fixed;
    justify-content: center;
    }
  
    .nav-elements ul {
      display: flex;
      flex-direction: column;
    }
  
    .nav-elements ul li {
      margin-right: unset;
      margin-top: 22px;
    }
  
  
  
  
  
  }