.menu{
     display: flex;
}

.menu ul {
    display: flex;
    list-style: none;
    
  }
.menu li{
 text-transform: uppercase;
 margin: 0px 30px;


}

@media (max-width: 768px) {
 

  .menu{

  }


}