section.contact{
    width: 100%;
    min-height: 50vh;
    background-color: var(--site-main-background-color);
    display: flex;
    flex-direction: column;
    align-items: center;

}
.contact-tittle{
    font-size: var(--link-box-fonz-size);;
    text-align: center;
}

.contact-conatiner{
    display: flex;
    flex-direction: column;
    gap: 6rem;
    justify-content: center;
    padding: 3rem 0  3rem 0;
    align-items: center;
}
.contact-boxes{
  display: flex;
  flex-direction: row;
  gap: 5rem ;
  padding-bottom: 3rem;
}
 /*RESPONZIVITA */

 /*Mensi nez 1024 (tablety, male ntb)*/
 @media screen and (max-width: 1024px) {
 
 }
 
 /*Mensi nez 1024 (telefony)*/
 @media screen and (max-width: 768px) {
   .contact-conatiner{
     margin-inline: 4rem;
 
   }
   .contact-conatiner{
     flex-direction: column;
   }
   .contact-boxes{
    gap: 3rem;
    flex-direction: column;

   }
 
 }