.table-wrapper{
  background-color: var(--table-background-color);
  display: flex;
  min-height: 650px;
  padding-top: 2rem;
  border-radius: 1rem;
  margin-top: 2rem;
  margin-bottom: 5rem;
  flex-direction: column;
  align-items: center;
}
.table-head{
  width: 95%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.table-bottom{
  width: 95%;
  display: flex;
  gap: 2px;
  padding-bottom: 1rem;
}


.table-head input, select{
  font-family: var(--site-font-family);
  border: none;
  font-size: 1rem;
}

table {
    border-collapse: collapse;
    width: 95%;
    border-collapse:separate;
    border-spacing:0 15px;

  }
  
  table td, table th {
    padding: 8px;
 
  }
  
  .table-row{
    border-radius: 20%;
  
  }

.action-button{
  background: none;
  border: none;
  cursor: pointer;
}

  tbody, thead{
    background-color: var(--site-main-background-color);
    color: black;
  }

  tbody{
    cursor: pointer;

  }
 tbody tr:hover{
  background-color: var(--box-color-light);
color: white;
 }
  
  table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: start;

  }


  @media screen and ( max-width: 768px) {
    
  
    .table-head{
      flex-direction: column;
    }
    
    table thead {
      overflow: hidden;
      position: absolute;
      width: 1px;
    }
    
 
    
    table td {
      border-bottom: 1px solid var(--table-background-color);
      display: block;
      text-align: right;
    }
    
    table td::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
    }
    
  
  }

