.info-bar-container{
    max-width: 400px;
    background-color: var(--table-background-color);
    border-radius: 1rem;
}
.info-data{
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem;
}
label{
    color: gray;
}
label:not(:first-child) {
    padding-top: 1.2rem;
}
.info-data b {
    font-size: 1.1rem;
    padding-top: 0.5rem;
}